<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h2>Iniciar Sesión</h2>
    <form id="login-form">
        <input type="text" id="username" placeholder="Nombre de usuario" required />
        <input type="text" id="role" placeholder="Rol (Administrador / Empleado)" required />
        <button type="submit">Entrar</button>
    </form>
    <div id="login-error" style="color: red;"></div>
</body>

</html>